{% extends "base.html.twig" %}

{% block title %}
	{{ post.title }}
{% endblock %}

{% block body %}
	<div class="container mx-auto">
		<div class="w-2/3 mx-auto mt-6">
			<a href="{{ path('post.index') }}" class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-lime-700 rounded-lg hover:bg-lime-800 focus:ring-4 focus:outline-none focus:ring-lime-300 dark:bg-lime-600 dark:hover:bg-lime-700 dark:focus:ring-lime-800">
				Retourner au blog
			</a>
		</div>

		<h1 class="text-5xl text-center mt-8 mb-4 text-lime-700">{{ post.title|capitalize }} !</h1>
		<h2 class="text-2xl text-center mb-8">Publié le
			{{ post.createdAt|date('d/m/Y') }}</h2>

		{% include "components/_share.html.twig" %}

		{% if post.imagePath %}
			<img class="rounded-t-lg" src="" alt="">
		{% endif %}

		<div class="w-2/3 mx-auto my-8 leading-6">
			{{ post.content|raw }}
			<p class="text-xs mt-8">Dernière mis à jour le
				{{ post.updatedAt|date('d/m/Y') }}</p>
		</div>

	</div>
{% endblock %}
